@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap);

$body-font: "Inter", sans-serif;
$additional-font: Arial, Helvetica, sans-serif;
$default-text-color: #000000;
$titles-uppercase: uppercase;
$text-uppercase: uppercase;
$font-weight-med: 400;
