$main-padding: 0 25px 25px 25px;
$default-border: 1px solid;
$default-border-radius: 8px;
$accent-color: #000000;
$default-color: #ffffff;
$default-margin-bottom: 150px;
$default-slider-margin-bottom: 128px;
$opacity-max: 50%;
$opacity-med: 70%;
$min-gap: 10px;

$breakpoint_xxxl: 1519px;
$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;

:export {
  defaultColor: $default-color;
  accentColor: $accent-color;
  opacityMax: $opacity-max;
  breakpoint_xxl: 1200;
  breakpoint_xl: 1024;
  breakpoint_md: 767;
  breakpoint_sm: 576;
}
