.link-to-about-us {
  @extend %flex-clm;
  margin-bottom: $default-margin-bottom;
  img {
    margin-bottom: 32px;
  }
  p {
    text-transform: $text-uppercase;
    width: 42%;
  }
  .align-right {
    @extend %flex-clm;
    align-items: end;
    gap: 16px;
  }
}
