.art-item-top h2 {
  text-transform: uppercase;
  width: 50%;
}
.art-item-top img {
  object-fit: cover;
  max-width: 100%;
}
.soc-net-icons-art svg {
  margin-right: 10px;
}
.art-item-interview {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.art-item-interview div {
  width: 50%;
}
.art-item-interview p {
  padding-bottom: 50px;
}
.art-item-interview span {
  opacity: 70%;
}
.art-item-desc {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.art-item-desc p {
  opacity: 70%;
}
.art-item-desc div {
  width: 50%;
}
.art-item-desc img {
  width: 100%;
}
.prev-next-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.prev-button {
  justify-self: left;
}
.next-button {
  justify-self: right;
}
