.logo {
    height: 60px;
  }
.svg-logo {
  display: flex;
  flex-direction: column;
}
.svg-logo svg {
  margin-bottom: -2px;
}

#frame {
  stroke-dasharray: 196.58724975585938;
  stroke-dashoffset: 196.58724975585938;
  animation: frame-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes frame-line-animation {
  from {
    stroke-dashoffset: 196.58724975585938;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#line-1 {
  stroke-dasharray: 46.22220993041992;
  stroke-dashoffset: 46.22220993041992;
  animation: line-1-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes line-1-line-animation {
  from {
    stroke-dashoffset: 46.22220993041992;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#line-2 {
  stroke-dasharray: 46.22220993041992;
  stroke-dashoffset: 46.22220993041992;
  animation: line-2-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}

@keyframes line-2-line-animation {
  from {
    stroke-dashoffset: 46.22220993041992;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#line-3 {
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  animation: line-3-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes line-3-line-animation {
  from {
    stroke-dashoffset: 19;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#line-4 {
  stroke-dasharray: 16;
  stroke-dashoffset: 16;
  animation: line-4-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}

@keyframes line-4-line-animation {
  from {
    stroke-dashoffset: 16;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#line-5 {
  stroke-dasharray: 16;
  stroke-dashoffset: 16;
  animation: line-5-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes line-5-line-animation {
  from {
    stroke-dashoffset: 16;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#line-6 {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  animation: line-6-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes line-6-line-animation {
  from {
    stroke-dashoffset: 18;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#k {
  stroke-dasharray: 49.64516830444336;
  stroke-dashoffset: 49.64516830444336;
  animation: k-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes k-line-animation {
  from {
    stroke-dashoffset: 49.64516830444336;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#a {
  stroke-dasharray: 15.838436126708984;
  stroke-dashoffset: 15.838436126708984;
  animation: a-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes a-line-animation {
  from {
    stroke-dashoffset: 15.838436126708984;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#b {
  stroke-dasharray: 30.3105525970459;
  stroke-dashoffset: 30.3105525970459;
  animation: b-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes b-line-animation {
  from {
    stroke-dashoffset: 30.3105525970459;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#e {
  stroke-dasharray: 18.111099243164062;
  stroke-dashoffset: 18.111099243164062;
  animation: e-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes e-line-animation {
  from {
    stroke-dashoffset: 18.111099243164062;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#n {
  stroke-dasharray: 32.548126220703125;
  stroke-dashoffset: 32.548126220703125;
  animation: n-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes n-line-animation {
  from {
    stroke-dashoffset: 32.548126220703125;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#i {
  stroke-dasharray: 23.9622802734375;
  stroke-dashoffset: 23.9622802734375;
  animation: i-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes i-line-animation {
  from {
    stroke-dashoffset: 23.9622802734375;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#t {
  stroke-dasharray: 22.679298400878906;
  stroke-dashoffset: 22.679298400878906;
  animation: t-line-animation 5s infinite forwards;
  animation-iteration-count: 1;
}
@keyframes t-line-animation {
  from {
    stroke-dashoffset: 22.679298400878906;
  }
  to {
    stroke-dashoffset: 0;
  }
}
