@include mobile {
  .gallery-container {
    grid-template-columns: $grid-template-columns-mobile;
    grid-template-areas:
      "a b"
      "a c"
      "d e"
      "f g"
      "h g"
      "i j"
      "k l"
      "m n";
    margin-top: 20px;
  }
}
@include tablet {
  .gallery-container {
    grid-template-columns: $grid-template-columns-tablet;
    grid-template-areas:
      "a a b"
      "a a c"
      "d e f"
      "g h h"
      "g h h"
      "i i j"
      "i i k"
      "l m n";
    margin-top: 20px;
  }
}
