@include mobile {
  .cart {
    .modal-back {
      width: 10%;
    }
    .modal {
      width: 90%;
      left: 10%;
      .title {
        font-size: 20px;
        line-height: 25px;
      }
      .cart-item {
        font-size: 15px;
        line-height: 17px;
        grid-template-columns: 1fr 1fr 10%;
        grid-template-areas:
          "image name ."
          "inputNumber price xItem";
        grid-template-rows: auto;
        .image {
          grid-area: image;
        }
        .name {
          grid-area: name;
        }
        .input-number {
          grid-area: inputNumber;
          width: 100%;
        }
        .price {
          grid-area: price;
        }
        .xItem {
          grid-area: xItem;
          margin-right: 0;
        }
      }
      .total {
        font-size: 16px;
        line-height: 20px;
      }
      .empty-cart {
        gap: 10px;
        text-align: center;
        img {
          width: 70%;
        }
      }
    }
  }
}
@include tablet {
  .cart {
    .modal-back {
      width: 30%;
    }
    .modal {
      width: 70%;
      left: 30%;
      .cart-item {
        grid-template-columns: 1fr 1fr 10%;
        grid-template-areas:
          "image name ."
          "inputNumber price xItem";
        grid-template-rows: auto;
        .image {
          grid-area: image;
          img {
            width: 50%;
          }
        }
        .name {
          grid-area: name;
        }
        .input-number {
          grid-area: inputNumber;
          width: 100%;
        }
        .price {
          grid-area: price;
          justify-self: center;
        }
        .xItem {
          grid-area: xItem;
          justify-self: right;
        }
      }
      .empty-cart {
        gap: 10px;
        img {
          width: 70%;
        }
      }
    }
  }
}
@include laptop {
  .cart {
    .modal-back {
      width: 30%;
    }
    .modal {
      width: 70%;
      left: 30%;
      .cart-item {
        grid-template-columns: 18% 28% 23% 14% 4%;
        .input-number {
          width: 100%;
        }
      }
    }
  }
}
