@include mobile {
  .filters-section {
    margin-bottom: 20px;
    margin-top: 20px;
    .sort-filters {
      display: block;
      .title {
        margin-bottom: 6px;
      }
    }
    .filters-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 70px;
    }
    .sort-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0px 10px;
    }
  }
}
@include tablet {
  .filters-section {
    padding: 0px 15px 0px 15px;
    margin-bottom: $default-items-margin-bottom-tablet;
    .sort-filters {
      display: block;
      .title {
        margin-bottom: 10px;
      }
    }
    .filters-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 10px;
    }
    .sort-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0px 20px;
    }
  }
}
