@include mobile {
  .footer-main {
    padding: 30px 25px 0 25px;
    .subscribe-form {
      display: block;
      padding: 10px 0 10px 0;
      .subscribe-input {
        width: 100%;
        font-size: 14px;
        text-align: center;
      }
      .subscribe-button {
        width: 100%;
        font-size: 14px;
        justify-content: center;
        svg {
          display: none;
        }
      }
    }
    .thankyou {
      font-size: 16px;
    }
    .main-links-footer {
      .list-menu-footer {
        display: block;
        text-align: center;
        width: 95%;
        span {
          font-size: 18px;
        }
        ul {
          margin-bottom: 20px;
          li {
            font-size: 12px;
          }
        }
      }
      .soc-net-icons {
        display: block;
        width: 5%;
        svg {
          width: 16px;
          height: 16px;
          margin-bottom: $default-items-margin-bottom-mobile;
        }
      }
    }
  }
}
@include tablet {
  .footer-main {
    padding: 20px 25px 0 25px;
    .subscribe-form {
      gap: 0px;
      padding: 15px 0 15px 0;
      div {
        width: 40%;
      }
      .subscribe-input {
        font-size: 18px;
      }
      .subscribe-button {
        font-size: 18px;
        svg {
          display: none;
        }
      }
    }
    .thankyou {
      font-size: 20px;
      padding: 15px 0 15px 0;
    }
    .main-links-footer {
      .list-menu-footer {
        font-size: 12px;
        width: 85%;
      }
      .soc-net-icons {
        display: block;
        width: 5%;
        svg {
          width: 25px;
          height: 25px;
          margin-bottom: $default-items-margin-bottom-tablet;
        }
      }
    }
    .developed-by {
      font-size: 11px;
    }
  }
}
@include laptop {
  .footer-main {
    .subscribe-form {
      div {
        width: 40%;
      }
      .subscribe-input {
        font-size: 23px;
      }
      .subscribe-button {
        font-size: 23px;
      }
    }
    .thankyou {
      font-size: 23px;
    }
    .main-links-footer {
      .list-menu-footer {
        width: 90%;
      }
      .soc-net-icons {
        gap: 20px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
