@include mobile {
  header {
    .menu {
      .desktop-menu {
        display: none;
      }
      .mobile-menu-logo {
        display: block;
      }
    }
  }
}
@include tablet {
  header {
    ul {
      gap: 20px;
    }
    .lg-cart ul {
      gap: 15px;
    }
  }
}
