@include mobile {
  .trip-to-kabinet-lounge {
    margin-bottom: $default-margin-bottom-mobile;
    .kabinet-lounge-title {
      width: 85%;
      margin-top: 15px;
      margin-left: 15px;
      padding-right: 20px;
      gap: 10px;
      h2 {
        font-size: 22px;
        line-height: 23px;
      }
      .title {
        flex-basis: auto;
      }
      .description {
        flex-basis: auto;
        p {
          display: none;
        }
        .buttons {
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          margin-top: 5px;
          button {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@include tablet {
  .trip-to-kabinet-lounge {
    margin-bottom: $default-margin-bottom-tablet;
    .kabinet-lounge-title {
      width: 90%;
      margin-top: 15px;
      margin-left: 20px;
      padding-right: 20px;
      gap: 30px;
      .description {
        p {
          display: none;
        }
        .buttons {
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          margin-top: 20px;
        }
      }
    }
  }
}
@include laptop {
  .trip-to-kabinet-lounge {
    margin-bottom: $default-margin-bottom-laptop;
    .kabinet-lounge-title {
      width: 90%;
      margin-top: 15px;
      margin-left: 20px;
      padding-right: 20px;
      gap: 60px;
      .title {
        flex-basis: auto;
      }
      .description {
        flex-basis: auto;
        p {
          display: none;
        }
        .buttons {
          flex-direction: column;
          justify-content: center;
          gap: 30px;
          margin-top: 30px;
          button {
            padding: 10px 25px 10px 25px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
@include desktop {
  .trip-to-kabinet-lounge {
    margin-bottom: $default-margin-bottom-desktop;
    .kabinet-lounge-title {
      width: 80%;
    }
  }
}
