@include mobile {
  .trip-to-kabinet-lounge {
    margin-bottom: $default-margin-bottom-mobile;
    .kabinet-lounge-title {
      display: block;
      width: 80%;
      margin-top: 15px;
      margin-left: 15px;
      h2 {
        font-size: 20px;
        line-height: 24px;
      }
      .title {
        flex-basis: auto;
      }
      .description {
        flex-basis: auto;
        p {
          display: none;
        }
        .buttons {
          display: flex;
          justify-content: start;
          gap: 5px;
          margin-top: 15px;
          button {
            padding: 5px 10px 5px 10px;
            font-size: 11px;
          }
        }
      }
    }
  }
}
