@include mobile {
  .link-to-about-us {
    margin-bottom: $default-margin-bottom-mobile;
    img {
      margin-bottom: 15px;
    }
    p {
      width: 100%;
    }
    .align-right {
      gap: 10px;
    }
  }
}
@include tablet {
  .link-to-about-us {
    margin-bottom: $default-margin-bottom-tablet;
    img {
      margin-bottom: 15px;
    }
    p {
      width: 60%;
    }
    .align-right {
      gap: 15px;
    }
  }
}
@include laptop {
  .link-to-about-us {
    margin-bottom: $default-margin-bottom-laptop;
    img {
      margin-bottom: 25px;
    }
    p {
      width: 60%;
    }
  }
}
