@include mobile {
  .section-news {
    .section-title {
      div {
        margin-bottom: 20px;
      }
      .tab-buttons {
        flex-wrap: wrap;
        .nav-link {
          padding: 5px 10px 5px 10px;
        }
      }
    }
  }
}
@include tablet {
  .section-news {
    .section-title {
      div {
        margin-bottom: $default-items-margin-bottom-tablet;
      }
      .tab-buttons {
        flex-wrap: wrap;
        .nav-link {
          padding: 5px 10px 5px 10px;
        }
      }
    }
  }
}
