@include mobile {
  .next-category {
    .title {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}
@include tablet {
  .next-category {
    .title {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
}
