@include mobile {
  .product-card {
    .product-imgs {
      width: 100%;
      margin-bottom: 10px;
    }
    .product-info {
      width: 100%;
      margin-right: 5%;
      .product-title {
        padding-left: 20px;
      }
      .beers-main-properties {
        padding-left: 20px;
      }
      .product-top-description {
        padding-left: 20px;
        margin-bottom: 10px;
      }
    }
    .add-to-cart-button-container {
      width: 50%;
    }
    .product-description {
      .additional-info {
        font-size: 17px;
        line-height: 19px;
      }
    }
  }
}
@include tablet {
  .product-card {
    .product-imgs {
      width: 100%;
      margin-bottom: 10px;
    }
    .product-info {
      width: 100%;
      margin-right: 5%;
      margin-bottom: 30px;
      .product-title {
        padding-left: 30px;
        span {
          font-size: 25px;
        }
      }
      .type-of-product {
        .row {
          width: 100%;
          .section-title {
            justify-content: center;
          }
        }
      }
      .product-imgs {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 60%;
        }
      }
      .beers-main-properties {
        padding-left: 30px;
      }
      .product-top-description {
        padding-left: 30px;
        margin-bottom: 10px;
      }
    }
  }
}
