@include mobile {
  .shop-section {
    .section-title {
      display: block;
      div {
        margin-bottom: 20px;
      }
      .tab-buttons {
        flex-wrap: wrap;
        .nav-link {
          padding: 5px 10px 5px 10px;
        }
      }
    }
  }
}
@include tablet {
  .shop-section {
    .section-title {
      display: block;
      div {
        margin-bottom: $default-items-margin-bottom-tablet;
      }
      .tab-buttons {
        .nav-link {
          padding: 10px 15px 10px 15px;
        }
      }
    }
  }
}
@include laptop {
  .shop-section {
    .section-title {
      display: block;
      div {
        margin-bottom: $default-items-margin-bottom-laptop;
      }
      .tab-buttons {
        .nav-link {
          padding: 10px 15px 10px 15px;
        }
      }
    }
  }
}
