@include mobile {
  .swiper-main-page {
    margin-bottom: $default-margin-bottom-mobile;
    img {
      padding-bottom: 0px;
    }
  }
}
@include tablet {
  .swiper-main-page {
    margin-bottom: $default-margin-bottom-tablet;
    img {
      padding-bottom: 0px;
    }
  }
}
