@include mobile {
  .kabinet-products {
    .section-title {
      display: block;
      .tab-buttons {
        margin-bottom: $default-items-margin-bottom-mobile;
        justify-content: center;
      }
    }
  }
}
