@include mobile {
  .swiper-news {
    .side-slide {
      width: 49% !important;
    }
    .central-slide {
      width: 49% !important;
    }
    img {
      padding-bottom: 0px;
    }
    p {
      margin-bottom: 0px;
    }
  }
}
@include tablet {
  .swiper-news {
    .side-slide {
      width: calc(96% / 3) !important;
    }
    .central-slide {
      width: calc(96% / 3) !important;
    }
    img {
      padding-bottom: 0px;
    }
    p {
      margin-bottom: 0px;
    }
  }
}
