.shop-now {
  @extend %flex-center;
  @extend %empty-slide;
  flex-direction: column;

  cursor: pointer;
  img {
    @extend %slides-paddings;
    @extend %bordered;
    position: relative;
    width: 365px;
    height: 50%;
  }
}
