.mobile-modal {
  position: fixed;
  z-index: 55;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  padding: 15px 15px 15px 15px;
  box-sizing: border-box;
}
.mobile-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 6vw;
}
.mobile-title svg {
  width: 100px;
  height: 100px;
}
